<a class="sr-only" href="#content">Skip to main content</a>

<div id="wrap">
  <header class="navbar navbar-default navbar-static-top" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="#/" class="navbar-brand"><i class="fa fa-toggle-up"></i> RequireJS Router</a>
      </div>
      <nav class="collapse navbar-collapse" role="navigation">
        <ul class="nav navbar-nav">
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="{{routes.examples.active ? 'active' : ''}}"><a href="#/examples">Examples</a></li>
          <li class="{{routes.demo.active ? 'active' : ''}}"><a href="#/demo/1337?queryParam1=Routing%20AMD%20style!">Demo</a></li>
          <li><a href="https://github.com/erikringsmuth/requirejs-router">View on GitHub <i class="fa fa-github fa-lg"></i></a></li>
        </ul>
      </nav>
      <search-box id="search-box"/>
    </div>
  </header>

  <main class="container" role="main">
    <content-placeholder/>
  </main>
</div>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <p class="text-muted text-center">Copyright &#169; 2014 <a href="https://github.com/erikringsmuth">Erik Ringsmuth</a>. Licensed under MIT.</p>
      </div>
      <div class="col-xs-6">
        <ul class="list-inline">
          <li><a href="https://github.com/erikringsmuth"><i class="fa fa-github"></i> GitHub</a></li>
          <li><a href="https://twitter.com/ErikRingsmuth"><i class="fa fa-twitter"></i> Twitter</a></li>
          <li><a href="http://stackoverflow.com/users/3148201/erik-ringsmuth"><i class="fa fa-stack-overflow"></i> StackOverflow</a></li>
          <li><a href="http://www.linkedin.com/in/erikringsmuth"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
