/* Sticky footer styles. Make the html, body, and layoutView.el (div) all be 100% tall */
html, body, body > div {
  height: 100%;
}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -80px;
  /* Pad bottom by footer height + 25px for some white space before the footer */
  padding: 0 0 115px;
}
/* Set the fixed height of the footer here */
footer {
  height: 80px;
  background-color: #fdfdfd;
  border-top: 1px solid #e1e1e8;
}
footer > .container {
  /* Pad the text in the footer */
  padding-top: 20px;
}
footer ul a, footer .text-muted {
  color: #777;
}

.navbar {
  margin-bottom: -10px;
}
.navbar-default {
  border: none;
}
.navbar,
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover {
  background-color: #2f83d0;
  color: #fff;
  text-shadow: 0px 1px 0px #215b90;
}
.navbar-header,
.navbar-default .navbar-nav > li > a {
  border-bottom: 4px solid #2f83d0;
  transition: all .15s ease-in-out;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus,
.navbar-header:hover,
.navbar-header.active,
.navbar-default .navbar-nav > li > a:hover {
  color: #fff;
  background-color: #2f83d0;
  text-shadow: 0px 1px 2px #215b90;
  border-bottom-color: rgba(255,255,255,.7);
}
@media (max-width: 767px) {
  .navbar-header,
  .navbar-header:hover,
  .navbar-header.active {
    border-bottom: none;
  }
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

a, a:hover {
  color: #007fff;
}

.brand-link {
  color: #333;
}
.brand-link:hover {
  text-decoration: none;
}
.nex-brand {
  color: #93A1A1;
}

/* Make the footer taller when viewed on a phone */
@media (max-width: 480px) {
  footer {
    height: 115px;
  }
}

/* Code */
pre, pre.prettyprint {
  background-color: #fdfdfd;
  border: #e1e1e8 1px solid;
  border-radius: 3px;
}
code {
  color: #48484C;
  background-color: #fdfdfd;
  border: #f1f1f1 1px solid;
  border-radius: 3px;
  line-height: 1.75em;
}
pre code {
  border: none;
  line-height: 1.4em;
}

/* Adds spacing on top of anything */
.spacer {
  margin-top: 2em;
}

/* spacing */
h1, h2, h3, h4, h5, h6 {
  margin-top: 1.4em;
}

/* fonts */
h1, h2, h3, h4, h5, h6, .lead {
  font-family: "Segoe UI","proxima-nova","proxima-nova-1","proxima-nova-2","Proxima Nova",Helvetica,Arial,sans-serif;
}